.chat {
    height: 350px;
    width: 275px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 75);
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    background-image: linear-gradient(to bottom, white 0%,rgba(255, 255, 255, 0.795) 100%), url("https://res.cloudinary.com/dn20lb2ee/image/upload/v1561401571/mg5ay1e9zq5qeuevzplz.png");
    background-size: cover;
    margin: -48px;


    .bot-profile-name {
        position: fixed;
        top: -25px;
        height: 26px;
        width: 150px;
        margin-left: 14%;
        margin-top: 5px;
        background-color: $off-white;
        padding: 0px 0px 0px 28px;
        border-radius: 6px;
        border: $border;
        align-items: center;

        .bot-profile-header {
            margin-top: 5px;
            margin-left: 5px;

        }



    }

    .bot-profile-wrapper {
        margin-right: 20px;
        margin-bottom: -90px;
    }
    
    .bot-image-wrapper {
        padding-left: 20px;
        margin-bottom: -16px;

        img {
            height: 30px;
            width: 30px;
            border-radius: 20px;
        }
    }

    .chat-box-response-wrapper {
        margin-left: 48px;
        margin-bottom: 20px;
        background-color: $message-color;
        padding-right: 30px;
        border-radius: 12px;
        margin-right: 15px;

        p{
            margin: 11px;
        }

        
        .comment-span {
            font-size: 40px;
            animation-name: blink;
            animation-duration: 1.9s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
    
            animation-delay: .5s;
            animation-delay: .5s;
            height: 0px;

            @keyframes blink {
                0% {
                    opacity: .2;
                }
            
                20% {
                    opacity: 1;
                }
            
                100% {
                    opacity: .2;
                }
            }
        }

        .bot-response {
            padding: 5px 5px 5px 5px;
        }

        p {
            font-size: 1.3rem;
            color: $text-color;
        }
    }


}

.input-wrapper {
    position: fixed;
    width: 50%;
    bottom: 20px;
}

.input-text-wrapper {
    position: relative;
    right: 0.32%;

    .input-box {
        border-radius: 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        width: 276px;
        outline: none;
        height: 40px;
        padding: 10px;
        padding-right: 40px;
        resize: none;

        input.break {
            word-wrap: break-word;
            word-break: break-all;
            height: 80px;
        }
    }

    .submit-icon {
        font-size: 25px;
        margin-top: 7px;
        margin-left: 145px;
        position: absolute;
        opacity: 0.2;
        padding-left: 10px;
        left: 45%;
    
        &:hover {
            opacity: 0.8;
            color: #81f499;
            transition: 0.3s ease-in-out;
        }
    }
}
